box-sizing: border-box;
padding: 0 16px;
}


/******
 section관련 스타일 수정
*/

.section{border: 1px solid #f00;}/*테스트삭제*/


/* 
1. section_full_content_center
section 배경색
content-test는 가운데 정렬
main_title이 content 너비 범위에서 left/center/right 정렬
*/

.section{
  /*section관련  변수선언 */
  --section-bg:#fea;
  --section-padding-top-bottom:40px;
  --section-main-banner-padding:16px
}

/*         max-width: 1230px; */
#contents > .section_full_content_center{
  background-color: var(--section-bg);
  width:100%;
  max-width: none;
  padding-top: var(--section-padding-top-bottom);
  padding-bottom: var(--section-padding-top-bottom);
}

@media (min-width: 1024px) {
    #contents > .section_full_content_center > div{
        max-width: 1230px;
        width: 92%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* 
2 section_full_only_content
제목은  기존 섹션의 너비맞게 정렬이 되고
컨텐츠 브라우저 전체 사용
*/

#contents > .section_full_only_content{
  background-color: var(--section-bg);
  width:100%;
  max-width: none;
  padding-top: var(--section-padding-top-bottom);
  padding-bottom: var(--section-padding-top-bottom);
}
#contents > .section_full_content_center .main_3dan_banner .main_banner_txt{
  margin-top: 0;
  padding: var(--section-main-banner-padding);
  background-color: #fff;
  box-sizing: border-box;
}

@media (min-width: 1024px) {
    #contents > .section_full_only_content > .main_title{
        max-width: 1230px;
        width: 92%;
        margin-left: auto;
        margin-right: auto;
    }
}